@media  screen and (max-width:992px) {
    html{
        font-size: 8.5px;
    }
    nav{
        justify-content: space-between;
    }
    nav ul li{
         font-size: 1.6rem;
    }
    nav .nav-buttons i{
         font-size: 2rem;
    }
    nav .logo img{
        width: 60px;
    }
    div.searchi{
        margin-right: 100px;
    }
    .checkout{
        margin-right: 100px;
        width: 310px;
    }
    .checkout ul li .image img{
        width: 60px;
    }
    li .detail h3{
         font-size: 1.8rem;
    }
    li .detail p{
         font-size: 1.4rem;
    }
    .checkout-x{
        font-size: 1.4rem;
    }
}