body {
    background-color: #999999;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
#container {
    width: 1140px;
    padding: 5px;
    margin: auto;
    position: relative;
    overflow: hidden; /* This helps to contain floated children */
}

#blog-post-container {
    width: 75%;
    float: left;
}
h2{
    text-transform: capitalize;
    font-size: 50px;
    margin: 5px;
}
#others-posts {
    background-color: white;
    border-radius: 5px;
    width: 25%;
    position: absolute; /* Positioning relative to #container */
    top: 140px;
    right: 175px; /* Aligns to the right edge of #container */
    padding: 5px;

}
#autor-box {
    border: 2px solid red;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.autor-text { 
    margin-top: 0px;
}
.date {
    position: absolute;
    top: 25px;
    right: 20px;
}
.blog-post {
    position: relative;
    margin-left: 5px;
}
.blog-post img {
    width: 100%;
    border-radius: 5px;
}
.blog-text{
    color: #585858;
    text-align: justify;
}
ul > li {
    list-style: none;
    display: inline;
}
.blog-text {
    margin-right: 5px;
}
#autor-box img {
    border-radius: 50%;
    margin-right: 15px;
}

#share{
    display: inline;
    position: absolute;
    margin-left: 10px;

}
#share a{
    margin-right: 3px;
    opacity: 0.2;
}
#share a:hover{
    opacity: 1;
    color: blue;
}
.box{
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
.header{
    margin-bottom: 10px;

    border-bottom: 1px solid rgb(0, 0, 0,0.2);
}
















.card{
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-title,.card-date{
    display: inline-block;
    padding: 10px;
    margin: 10px 10px;
}
.card-date{
    float: right;
}
.card-title{
    font-size: 32px;
    font-weight: bold;
}
.card-body{
    width: 100%;
}
.card-header img{
    width: 100%;
}
.card-header{
    margin-bottom: 10px;
}
.card-text{
    text-align: justify;
    margin: 0 10px;
    font-family: "Roboto", sans-serif;
    opacity: .5;
    margin-bottom: 30px;
}
.card-body ul li a{
    background-color: black;
    color: white;
padding: 10px;
}
.card-body ul li{
    margin-right: 20px;
}
.card-body ul{
    margin-bottom: 0;
}

