<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="bg-primary">
    <h2>product details</h2>
    <h4><%= name %></h4>
    <img src="/images/<%= imageUrl %>" width="400" alt="">
    <h3><%= price %></h3>
</body>
</html>