<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="/images/<%=  imageUrl %>" alt="">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="products/<%= id %>">
                        <%=  name %>
                    </a>
            </h5>
                <p class="card-text"> <%=  price %></p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam odit minima magnam fugiat voluptatibus amet, corrupti eius quod, ullam at ex maxime quaerat nulla perspiciatis quasi, repellat consequatur quam quos!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eligendi nostrum totam iste repellendus veniam maiores sunt qui illo exercitationem blanditiis dicta ratione, voluptates vitae, nobis quas reprehenderit dolores non.</p>
            </div>
        </div>
    </div>
</div>